#calu {
  width: 200px;
  margin: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: rgba(78, 68, 68, 0.534);
  box-shadow: black 5px 5px 5px 5px;
}
h6{
  margin: 10px 5px 0px 5px;
  display: flex;
  justify-content: center;
}
.display {
  margin-top: 25px;
  margin: 10px;
  height: 25px;
  width: 85%;
  background-color: gray;
  border-radius: 5px;
}

.buttonContainer {
  display:flex ;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.btn {
  width: 50px;
  height: 25px;
  margin: 5px;
  background-color: rgba(59, 55, 55, 0.5);
  border-radius: 5px;
  
}